:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(25, 25, 25); 
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(59, 59, 59);
}

h1 {
  font-size: 3.2em;
  text-align: center;
  line-height: 1.1;
  user-select: none;
}
a:has(h1){
  text-decoration: none;
	color: rgba(255, 255, 255, 0.87);
}

.appHeader{
  margin-bottom: 10px;
}
.appTitle{
  cursor: pointer;
  transition: color 0.2s;
}
.appTitle:hover{
  color: rgba(188, 188, 188, 0.87);
}

.headerTools{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.taskSearchBar{
  height: 50px;
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(138, 138, 138, 0.87);
  outline: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
  font-size: 20px;
  transition: box-shadow 0.1s;
  user-select: none;
}

.tasksSection {
  display: flex;
	justify-content: center;
  flex-flow: row wrap;
  height: 550px;
  overflow: auto;
}

.noTaskPrompt {
  user-select: none;
  font-style: italic;
  opacity: 0.5;
  text-shadow: 0px 4px 4px rgba(10, 10, 10, 0.361);
}

.createTaskBtn {
  flex-shrink: 0;
  user-select: none;
  height: 50px; width: 50px;
  border-radius: 50px;
  background-color: #3B3B3B;
  font-size: 40px;
  color: #757575;
  border: 1px solid rgba(138, 138, 138, 0.87);
  cursor: pointer;
  transition: box-shadow 0.1s;
}

.taskSearchBar:hover, .createTaskBtn:hover, .taskSearchBar:focus{
  border: none;
  box-shadow: 0px 4px 6px 4px rgba(10, 10, 10, 0.332);
}

.createTaskBtn:active, .editTaskBtn:active, .confirmEditBtn:active, .closeTaskBtn:active {
  animation: btnPushDown 0.1s forwards;
}
.createTaskBtn:not(:active), .editTaskBtn:not(:active), .confirmEditBtn:not(:active), .closeTaskBtn:not(:active) {
  animation: btnPushUp 0.1s forwards;
}

.task{
	background-color: #3B3B3B;
	border-radius: 15px;
  word-wrap: break-word;
	box-shadow: 0px 4px 4px 2px rgba(10, 10, 10, 0.161);
	padding: 10px;
	margin: 10px;
	min-width: 200px;
  max-width: 300px;
	height: max-content;
  transition: box-shadow 0.1s, 
              opacity 0.1s, 
              background-color 0.2s;
}
.task:hover{
  box-shadow: 0px 8px 8px 4px rgba(10, 10, 10, 0.161);
}
.task h3, .task p {
  outline: none;
  user-select: none;
}
.taskTopSection {
  display: flex;
  justify-content: space-between;
}
.taskTopSection h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 15px;
}
.taskTools {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.editTaskBtn, .confirmEditBtn {
  cursor: pointer;
}
.closeTaskBtn {
  display: flex;
  flex-shrink: 0;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 2px 4px 1px rgba(10, 10, 10, 0.161);
}

@keyframes btnPushDown {
  0%{transform: scale(1, 1);}
  100%{transform: scale(0.9, 0.9);}
}
@keyframes btnPushUp {
  0%{transform: scale(0.9, 0.9);}
  100%{transform: scale(1, 1);}
}